*.png	

cheatsheet.png
git_install.png
git_repo.png
gitco.png
pwd.png
security.png
sample.png
spotlight.png
terminal.png
init.png
ls.png


./cheatsheet.png
./git_install.png
./git_repo.png
./gitco.png
./pwd.png
./security.png
./sample.png
./spotlight.png
./terminal.png
./init.png
./ls.png
